<div
            class="flex flex-wrap justify-around border-2 rounded-2xl mx-4 border-gray-200 items-center bg-base-100 my-6 md:mx-16 px-1 py-3">
            <a href="/categories?category_name=Mobiles" class="mx-1">
                <div class="text-center flex flex-col items-center">
                    <img src="../assets/images/cbimg/mobile.png" alt="mobiles"
                        class="h-8 w-9 md:h-8 md:w-10">
                    <p class="mt-1 text-xs sm:text-base">Mobiles</p>
                </div>
            </a>
            <a href="/categories?category_name=Electronics" class="mx-1">
                <div class="text-center flex flex-col items-center">
                    <img src="../assets/images/cbimg/laptop.png" alt="mobiles"
                        class="h-8 w-8 md:h-10 md:w-10">
                    <p class="mt-1 text-xs sm:text-base">Electronics</p>
                </div>
            </a>
            <a href="/categories?category_name=Fashion" class="mx-1">
                <div class="text-center flex flex-col items-center">
                    <img src="../assets/images/cbimg/fashion.png" alt="mobiles"
                        class="h-8 w-8 md:h-10 md:w-10">
                    <p class="mt-1 text-xs sm:text-base">Fashion</p>
                </div>
            </a>
            <a href="/categories?category_name=Furniture" class="mx-1">
                <div class="text-center flex flex-col items-center">
                    <img src="../assets/images/cbimg/furniture.png" alt="mobiles"
                        class="h-8 w-8 md:h-10 md:w-10">
                    <p class="mt-1 text-xs sm:text-base">Furniture</p>
                </div>
            </a>
            <a href="/categories?category_name=Groceries" class="mx-1">
                <div class="text-center flex flex-col items-center">
                    <img src="../assets/images/cbimg/grocery.png" alt="mobiles"
                        class="h-8 w-8 md:h-10 md:w-10">
                    <p class="mt-1 text-xs sm:text-base">Groceries</p>
                </div>
            </a>
        </div>