<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuicKart - Forgot Password</title>
  <link rel="shortcut icon" href="../assets/images/logo.svg" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">    

  <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
  body{
    font-family: 'Outfit', sans-serif;

  }
  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
</style>

<body class="bg-gray-50 mt-2">

  <section class=" mt-12 md:mt-1">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="/" class="flex items-center mb-6 text-2xl font-semibold text-black">
        <img class="w-8 h-8 mr-2" src="../assets/images/logo.svg" alt="logo">
        QuicKart
      </a>

      
      <div style="display: none;" id="emailSentDiv"
        class="flex items-center p-4 mb-4 text-sm text-teal-800 border border-teal-300 rounded-lg bg-teal-50" role="alert">
        <div>
          <span class="font-medium">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>Email sent!</span> Instructions to reset your password has been sent to your registered email address.
        </div>
      </div>

      <div style="display: none;" id="passwordMismatchDiv"
      class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50" role="alert">
      <div>
        <span class="font-medium">
          <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>Password Mismatch!</span> Both password fields should match, please try again by opening the reset link.
      </div>
    </div>

      

      
      <div class="mt-5 max-w-md w-full bg-white border border-gray-200 rounded-xl shadow-sm null:bg-neutral-900 null:border-neutral-700">
        <div class="p-4 sm:p-7">
          <div class="text-center">
            <h1 class="block text-2xl font-bold text-gray-800 null:text-white">Forgot Password</h1>
            <p class="mt-2 text-sm text-gray-600 null:text-neutral-400">
              Remeber your password?
              <a class="text-indigo-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium null:text-blue-500" href="/auth/register">
                Login
              </a>
            </p>
          </div>
      
          <div class="mt-5">
      
      
            <!-- Form -->
            <form action="/auth/request-password-reset" method="POST">
              <div class="grid gap-y-4">
                <!-- Form Group -->
                <div>
                  <label for="email" class="block text-sm mb-2 null:text-white">Email address</label>
                  <div class="relative">
                    <input type="email" placeholder="johndoe@abc.com" id="email" name="email" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none null:bg-neutral-900 null:border-neutral-700 null:text-neutral-400 null:placeholder-neutral-500 null:focus:ring-neutral-600" required aria-describedby="email-error">
                    <div class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                      <svg class="size-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                      </svg>
                    </div>
                  </div>
                </div>
                <!-- End Form Group -->

      
      
                <button type="submit" class="w-full py-3 px-4 mb-5 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Reset</button>
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
      </div>

      
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const urlParams = new URLSearchParams(window.location.search);
      const uax = urlParams.get('emailSent');

      if (uax === 'true') {
        showEmailSentAlert();
      }
    });

    document.addEventListener('DOMContentLoaded', function () {
      const urlParams = new URLSearchParams(window.location.search);
      const uax = urlParams.get('passwordMismatch');

      if (uax === 'true') {
        showPasswordMismatchAlert();
      }
    });

    function showEmailSentAlert() {
      const alertDiv = document.getElementById('emailSentDiv');
      alertDiv.style.display = 'block';

      setTimeout(() => {
        // Add a class to initiate a smooth fade-out animation
        alertDiv.classList.add('fade-out');

        // Hide the alert after the animation completes
        setTimeout(() => {
          alertDiv.style.display = 'none';
          // Remove the fade-out class for future displays
          alertDiv.classList.remove('fade-out');
        }, 500); 
      }, 30000); 
    }

    function showPasswordMismatchAlert() {
      const alertDiv = document.getElementById('passwordMismatchDiv');
      alertDiv.style.display = 'block';

      setTimeout(() => {
        // Add a class to initiate a smooth fade-out animation
        alertDiv.classList.add('fade-out');

        // Hide the alert after the animation completes
        setTimeout(() => {
          alertDiv.style.display = 'none';
          // Remove the fade-out class for future displays
          alertDiv.classList.remove('fade-out');
        }, 500); 
      }, 30000); 
    }

    

  </script>

</body>

</html>