<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#000000">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>QuicKart</title>
        <link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/1650559623961927681/GIuz2m6K_400x400.jpg" type="image/x-icon">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="
        https://cdn.jsdelivr.net/npm/preline@2.0.3/dist/preline.min.js
        "></script>
    
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@preline/dropdown/index.min.js"></script>
      </head>
<body>
    <% if(response){ %>
        <div class="max-w-xl text-center mx-auto my-28">
            <div
                class="inline-flex items-center justify-center flex-shrink-0 w-14 h-14 text-green-500 bg-green-100 rounded-xl nonebg-green-800 nonetext-green-200">
                <svg class="w-12 h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                  viewBox="0 0 20 20">
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                </svg>
                <span class="sr-only">Check icon</span>
              </div>
            <h1 class="text-lg md:text-2xl my-4">Your email has been verified successfully!</h1>
            <a href="/">
                <button type="button" class="py-3 px-4 mt-3 inline-flex items-center gap-x-2 text-sm  rounded-full border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none null:focus:outline-none null:focus:ring-1 null:focus:ring-gray-600">
                    Back to Home
                  </button>
            </a>
        </div>
    <% } else { %>
        <div class="max-w-xl text-center mx-auto my-28">
            <div
                class="inline-flex items-center justify-center flex-shrink-0 w-14 h-14 text-red-700 bg-red-100 rounded-xl nonebg-green-800 nonetext-green-200">
                <svg class="w-12 h-12 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z" clip-rule="evenodd"/>
                  </svg>
                  
                <span class="sr-only">Check icon</span>
              </div>
            <h1 class="text-lg md:text-2xl my-4">Link is broken or has expired!</h1>
            <a href="/">
                <button type="button" class="py-3 px-4 mt-2 inline-flex items-center gap-x-2 text-sm  rounded-full border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none null:focus:outline-none null:focus:ring-1 null:focus:ring-gray-600">
                    Back to Home
                  </button>
            </a>
        </div>
    <% } %>
</body>
</html>